body{
    opacity:0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s; /* Safari */
    font-family: 'Karla', sans-serif;

}

#ProjectsLink, #break, #BlogLink, #AboutmeLink{
    font-size: 1.1vw;
    font-family: 'Karla', sans-serif;
}

#ProjectsLink, #BlogLink, #AboutmeLink{
    transition: transform .3s;
    color: black;
    text-decoration-line: none;
}

#ProjectsLink:hover, #BlogLink:hover, #AboutmeLink:hover{
    transform: scale(1.3);
    cursor: pointer;
}

#OtherLinks {
    position: fixed; 
    bottom: 2%;
    width: 75%;
}

.fab{
    color: inherit;
    font-size: 2.5vw;
    transition: transform .3s;
}

.fab:hover{
    color: inherit;
    font-size: 2.5vw;
    transform: scale(1.3);
    cursor: pointer;
}

.fas{
    color: inherit;
    font-size:2.5vw;
    transition: transform .3s;
}

.fas:hover{
    color: inherit;
    font-size: 2.5vw;
    transform: scale(1.1);
    cursor: pointer;
}

