#BigTitle{
    font-size: 7vw;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.8vw;
    padding-top: 8%;
}

#ProjectsLink, #break, #BlogLink, #AboutmeLink{
    margin-top: 7%;
}

@media screen and (max-width: 990px) {
    #BigTitle{
        font-size: 12vw;
    }

    #ProjectsBlogDiv a {
      font-size: 8vw!important;
    }

    #ProjectsBlogDiv {
        position: absolute;
        top:50%;
        left:50%;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }





    #BlogLink {
        padding-top: 15%;
        padding-bottom: 15%;
    }
  }