.timelineTitle {
  background-color: #15fdac;
  font-size: 30px;
  padding: 10px 110px;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  align-items: center;
}

.vertical-timeline-element-content {
  box-shadow: 0 3px 0 #15fdac !important;
}

.vertical-timeline-element-title {
  color: #00ebac;
}

.vertical-timeline-element-subtitle {
  font-size: 15px;
}

.vertical-timeline-element-body {
  font-size: 13px !important;
}