.timelineTitle {
  color: #00ebac;
  text-align: center;
  font-size: 30px;
}

.vertical-timeline-element-content {
  box-shadow: 0 3px 0 #00ebac !important;
}

.vertical-timeline-element-title {
  color: #00ebac;
}

.vertical-timeline-element-subtitle {
  font-size: 15px;
}

.vertical-timeline-element-body {
  font-size: 13px !important;
}