#topBar {
    z-index: 1;
    font-weight: bold;
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    align-items: center;
    padding-bottom: 30px;
    background-image: linear-gradient(#000017 70%, transparent);

    #name {
        text-align: center;
        font-size: 25px;
        text-align-last: justify;
        /*letter spacing to fill div*/
        opacity: 1;
        cursor: pointer;
        margin-left: 70px;
        color: #fd153d;

        #forename *,
        #surname * {
            opacity: 0;
        }

        #forename {
            transform: translate(-55%, 14px);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
        }

        #surname {
            transform: translate(55%, -14px);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
        }
    }

    #hamburger {
        display: flex;
        font-size: 35px;
        height: 9vh;
        width: 9vh;
        justify-content: center;
        align-items: center;
        margin-right: 70px;
  
        #circle {
          width: 0;
          height: 0;
          position: fixed;
          background: #fd153d;
          border-radius: 100%;
          transition: all .2s ease-in-out;
        }
  
        #icon {
          z-index: 4;
          transition: all .4s ease-in-out;
          cursor: pointer;
        }
      }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-8-8 22:45:33
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */

 .slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: slide-in-blurred-top 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}