body, html {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #000017;
}

::-webkit-scrollbar {
    display: none;
}

.hidden {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s .5s, opacity .5s linear;
    }

#loadingScreen {
    display: inline-flex;
    width: 98vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
    color: #fd153d;
    #loadingContainer {
      width: 200px;
      height: 40px;
      border: 2px solid #fd153d;
      display: flex;
      align-items: center;
      justify-content: center;
      #loadingBar {
        background: #fd153d;
        width: 0;
        height: 70%;
        transition: 1s all ease;
        flex: le
      }
    }
    #loadingNumber {
      width: 60px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
}

#navWindow {
  position:absolute;
  width: 40%;
  height: 80%;
  top: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #000017;
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 3px;
  * {
    cursor: pointer;
    transition: all .2s ease-in-out;
  }
  *:hover {
    transform: scale(1.2);
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#frontPage{
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fd153d;
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s; /* Firefox < 16 */
  -ms-animation: fadein 1.5s; /* Internet Explorer */
  -o-animation: fadein 1.5s; /* Opera < 12.1 */
  animation: fadein 1.5s;
  #topBar{
    font-weight: bold;
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 95%;
    height: 10vh;
    align-items: center;
    #name{
      text-align: center;
      font-size: 25px;
      text-align-last: justify; /*letter spacing to fill div*/
      cursor: pointer;
      margin-left: 70px;
      #forename *, #surname * {
          opacity: 0;
      }
      #forename{
        transform: translate(-55%, 14px);
        -webkit-transition: .5s ease-in-out;
          -moz-transition: .5s ease-in-out;
          -o-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
      }
      #surname{
          transform: translate(55%, -14px);
          -webkit-transition: .5s ease-in-out;
          -moz-transition: .5s ease-in-out;
          -o-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
      }
    }
    #hamburger {
      display: flex;
      font-size: 35px;
      height: 9vh;
      width: 9vh;
      justify-content: center;
      align-items: center;
      margin-right: 70px;
      #circle {
        width: 0;
        height: 0;
        position: fixed;
        background: #fd153d;
        border-radius: 100%;
        transition: all .2s ease-in-out;
      }
      #icon {
        z-index: 4;
        transition: all .4s ease-in-out;
        cursor: pointer;
      }
    }
  }
  #shortDesc {
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bolder;
    .video-container {
      margin: 40px auto;
      outline: 1px solid #dadada;
      width: 25%;
      video {
        display: block;
        width: 100%;
        clip-path: url(#clip-00);

      }
    }
  }
  #unlockPageContainer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: 0.5s all ease;
    #unlockPageText {
      font-weight: 400;
    }
    #unlockPageButton {
      font-size: 30px;
    }
  }
}

.animation:before {
  transform: translateY(12px) rotate(135deg);
}

.animation:after {
  transform: translateY(-12px) rotate(-135deg);
}



/* ----------------------------------------------
 * Generated by Animista on 2019-8-8 22:45:33
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */

 .slide-in-blurred-top {
	-webkit-animation: slide-in-blurred-top 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-top 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
