#SmallTitle{
    font-size: 1vw;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.08vw;
    padding-top: 1%;
    padding-bottom: 0.5%;
}

#BlogLink{
    font-weight: bold;
}

#BlogEntryTitle, #BlogEntryBody {
    font-family: 'Cutive Mono', monospace;
}

#BlogEntryTitle {
    font-weight: bold;
    margin-top: 1%;
    padding-bottom: 0.4%;
}

#BlogEntryTitle .Title{
    font-size: 1.4vw;

}

#BlogEntryTitle .Date{
    font-size: 1.2vw;
    margin-right: 20%;
    margin-top: 0.2%;
    padding-left: 5%;
}

#breaker {
    height: 1px;
    background-color: #c4c4c4;
}

#BlogEntryBody {
    padding-top: 0.4%;
    font-size: 1vw;
}

@media screen and (max-width: 990px) {
    #BlogEntryTitle .Title{
        font-size: 4vw;
    }
    #BlogEntryTitle .Date{
        display: none;
    }
    #BlogEntryBody {
        font-size: 2.8vw;
    }
    #breaker {
        height: 3px;
  }
}