body{
    padding-bottom: 25%;
}

#SmallTitle{
    font-size: 1vw;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.08vw;
    padding-top: 1%;
    padding-bottom: 0.5%;
}

#ProjectsLink{
    font-weight: bold;
}

#FinalYearProject {
    padding-top: 3%;
}

#language{
    font-size: 5vw;
    margin-top: 1%
}

#name {
    font-size: 1.7vw;
    font-weight: bold;
    padding-left: 0px;

}

#description {
    font-size: 1vw;
    padding-top: 1%;
}

#ProjectLinks a{
    margin-top: 13%;
}

#ProjectGit {
    color: black;
    text-decoration-line: none;
    margin-top: 50%!important;
} 

#breaker {
    display:none;
}

@media screen and (max-width: 990px) {
    #language {
        display: none;
    }

    #name {
        font-size: 4vw;
    }
    #description {
        font-size: 3vw;
        margin-left: 3%;
        margin-right: 3%;
    }
    #ProjectLinks a{
        margin-top: 0;
        margin-left: 0;


    }
    #ProjectLinks{
        width: 100%;
    }

    #ProjectLinks{
        display: none;
    }
    
    #ProjectGit {
        margin-left: 0!important;
        margin-top: 0!important;
    } 
    #breaker {
        height: 3px;
        background-color: #c4c4c4;
        display: block;
    }
  }