#isaacScarrottTitle {
  font-size: 7vw;
  font-family: 'Karla', sans-serif;
  letter-spacing: 0.8vw;
  text-align: center;
  padding-top: 8%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

#navBar {
  padding-top: 9%;
  font-family: 'Karla', sans-serif;
  font-size: 1.7vw;
  text-align: center;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #navBar * {
    display: inline-block; }
  #navBar a {
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    transition: transform 0.3s; }
    #navBar a:hover {
      transform: scale(1.3);
      cursor: pointer; }
  #navBar #navBreaker {
    margin: 0px 6vw 0px; }

#socialBar {
  font-size: 2.5vw;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 1%; }
  #socialBar * {
    text-decoration: none;
    color: black;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    transition: transform 0.3s;
    display: inline-block; }
    #socialBar *:hover {
      transform: scale(1.3);
      cursor: pointer; }
  #socialBar .fa-github {
    margin: 0 15% 0; }
