body {
  font-family: "Karla", sans-serif;
  height: 100%;
  margin: 0;

  #fade {
    width: 100%;
    height: 20%;
    position: fixed;
    left: 0;
    bottom: 0;
    background: linear-gradient(transparent 0%, white 75%);
  }
}

html,
#app-root {
  height: 100%;
}

@mixin transition-ease($time) {
  -webkit-transition: all $time + s ease;
  -moz-transition: all $time + s ease;
  -o-transition: all $time + s ease;
  transition: all $time + s ease;
}

@mixin transition-transform($time) {
  -webkit-transition: transform $time + s;
  -moz-transition: transform $time + s;
  transition: transform $time + s;
}

#isaacScarrottTitle {
  font-size: 7vw;
  letter-spacing: 0.8vw;
  text-align: center;
  padding-top: 9%;
  @include transition-ease(1);
}

#navBar {
  padding-top: 8%;
  font-size: 1.7vw;
  text-align: center;
  padding-bottom: 3%;
  @include transition-ease(1);

  * {
    display: inline-block;
  }

  a {
    @include transition-transform(0.3);

    &:hover {
      transform: scale(1.3);
      cursor: pointer;
    }
  }

  #navBreaker {
    margin: 0 6vw 0;
  }
}

#socialBar {
  z-index: 1;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 1%;

  * {
    display: inline-block;
  }

  .fa-github {
    margin: 0 15% 0;
  }
}

.afb {
  font-size: 2.5vw;
  text-decoration: none;
  color: black;
  @include transition-transform(0.3);

  &:hover {
    transform: scale(1.3);
    cursor: pointer;
  }
}

.project {
  width: 80%;
  margin: 0 10% 0;

  .textAndButtons {
    display: flex;

    .text,
    .buttons {
      display: inline-block;
    }

    .text {
      width: 85%;

      .title {
        font-weight: 900;
        font-size: 2vw;
        padding-bottom: 1%;
      }

      .body {
        font-size: 1.4svw;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 15%;

      a {
        justify-content: space-evenly;
        display: flex;
      }
    }
  }

  .skills {
    padding-top: 1%;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    cursor: default;

    div {
      border: 1px solid;
      padding: 7px 13px;
      line-height: 0.8em;
      border-radius: 5px;
    }
  }
}

.projectBreaker {
  width: 80%;
  margin: 1% 10%;
}

.blog {
  font-family: 'Cutive Mono', monospace;
  width: 80%;

  .title,
  .body {
    margin-left: 10%;
  }

  .title,
  .date {
    display: inline-block;
    font-weight: 600;
  }

  .date {
    float: right;
  }

  .blogBreaker {
    width: 90%;
    margin-left: 10%;
  }

  .body {
    font-size: 0.85vw;
    font-weight: lighter;
    padding-bottom: 4%;
  }
}

#aboutMe {
  margin-left: 10%;
  width: 80%;
  height: 80%;
  display: flex;

  #tabBar {
    min-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #container {
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0 !important
    }

    .profile {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      #image {
        height: 50%;
        border-radius: 50%;
      }

      #body {
        padding-left: 5%;

        #nameAge {
          font-weight: 900;
          font-size: 2vw;
          padding-bottom: 2%;
        }
      }
    }

    .skills {
      @extend .profile;
      justify-content: space-between;

      #languages,
      #technologies,
      #otherSkills {
        flex-basis: 25%;
        height: 90%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid black;
        text-align: center;
        font-size: 20px;
      }
    }
  }
}