.aboutmeTitle {
  color: #2d4fc2;
  text-align: center;
  font-size: 30px; }

#frontPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fd153d;
  -webkit-animation: fadein 1.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s;
  /* Firefox < 16 */
  -ms-animation: fadein 1.5s;
  /* Internet Explorer */
  -o-animation: fadein 1.5s;
  /* Opera < 12.1 */
  animation: fadein 1.5s; }
  #frontPage #shortDesc {
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bolder; }
    #frontPage #shortDesc .video-container {
      margin: 40px auto;
      outline: 1px solid #dadada;
      width: 25%; }
      #frontPage #shortDesc .video-container video {
        display: block;
        width: 100%;
        clip-path: url(#clip-00); }
  #frontPage #unlockPageContainer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: 0.5s all ease; }
    #frontPage #unlockPageContainer #unlockPageText {
      font-weight: 400; }
    #frontPage #unlockPageContainer #unlockPageButton {
      font-size: 30px; }

#icon {
  width: 45px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fd153d;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#icon span:nth-child(1) {
  top: 0px; }

#icon span:nth-child(2),
#icon span:nth-child(3) {
  top: 13px; }

#icon span:nth-child(4) {
  top: 26px; }

#icon.open span:nth-child(1) {
  top: 13px;
  width: 0%;
  left: 50%; }

#icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

#loadingScreen {
  display: inline-flex;
  width: 98vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #fd153d; }
  #loadingScreen #loadingContainer {
    width: 200px;
    height: 40px;
    border: 2px solid #fd153d;
    display: flex;
    align-items: center;
    justify-content: center; }
    #loadingScreen #loadingContainer #loadingBar {
      background: #fd153d;
      width: 0;
      height: 70%;
      transition: 1s all ease;
      flex: le; }
  #loadingScreen #loadingNumber {
    width: 60px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center; }

#navWindow {
  z-index: 1;
  position: fixed;
  width: 40%;
  height: 80%;
  top: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #000017;
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 3px; }
  #navWindow * {
    cursor: pointer;
    transition: all .2s ease-in-out; }
  #navWindow *:hover {
    transform: scale(1.2); }

#profile {
  padding-top: 13vh; }

.timelineTitle {
  color: #00ebac;
  text-align: center;
  font-size: 30px; }

.vertical-timeline-element-content {
  box-shadow: 0 3px 0 #00ebac !important; }

.vertical-timeline-element-title {
  color: #00ebac; }

.vertical-timeline-element-subtitle {
  font-size: 15px; }

.vertical-timeline-element-body {
  font-size: 13px !important; }

#topBar {
  z-index: 1;
  font-weight: bold;
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  align-items: center;
  padding-bottom: 30px;
  background-image: linear-gradient(#000017 70%, transparent); }
  #topBar #name {
    text-align: center;
    font-size: 25px;
    text-align-last: justify;
    /*letter spacing to fill div*/
    opacity: 1;
    cursor: pointer;
    margin-left: 70px;
    color: #fd153d; }
    #topBar #name #forename *,
    #topBar #name #surname * {
      opacity: 0; }
    #topBar #name #forename {
      transform: translate(-55%, 14px);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out; }
    #topBar #name #surname {
      transform: translate(55%, -14px);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out; }
  #topBar #hamburger {
    display: flex;
    font-size: 35px;
    height: 9vh;
    width: 9vh;
    justify-content: center;
    align-items: center;
    margin-right: 70px; }
    #topBar #hamburger #circle {
      width: 0;
      height: 0;
      position: fixed;
      background: #fd153d;
      border-radius: 100%;
      transition: all .2s ease-in-out; }
    #topBar #hamburger #icon {
      z-index: 4;
      transition: all .4s ease-in-out;
      cursor: pointer; }

/* ----------------------------------------------
 * Generated by Animista on 2019-8-8 22:45:33
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-top 0.5s cubic-bezier(0.23, 1, 0.32, 1) both; }

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

body,
html {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #000017;
  margin: 0; }

::-webkit-scrollbar {
  display: none; }

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear; }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
